*{
    padding: 0;
    margin: 0;
  }

  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }




  #navbar{
    position: relative;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50vw;
    margin: auto;
    background: linear-gradient(to right,white,#E3FEF7);
    border-radius: 10px;
    gap: 20vw;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
  }
  
  img{
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 10px;
    padding-left: 3px;
    height: 45px;
  }
  
  .para {
    align-self: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  .box{
    background-color: #f1eedc;
    position: relative;
    top: 20px;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 80vw;
    height: 80vh;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin: auto;
  }
  .box1{
    background: linear-gradient(to right bottom,#e5ddc5,#bed7dc);
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 80%;
    height: 50vh;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin: auto;
    
  }
  .b1{
    background-color: #bed7dc;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30px;
    border-radius: 50px;
    padding: 5px 1px;
    font-weight: bold;
  }

  #pwd, #pwd1, #pwd2{
    width: 200px;
    height: 25px;
    border-radius: 50px;
  }

  #pwd::placeholder, #pwd1::placeholder, #pwd2::placeholder{
    text-align: center;
  }

  #submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: #77B0AA;
    color: #fff;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border: 0px;
    font-weight: bold;
    font-size: large;
    margin: auto;
    grid-column: 1/3;   
  }
  
  #submit:hover{
    background-color: #E3FEF7;
    color: #000;
    box-shadow: rgba(38, 138, 252, 0.3) 0px 0px 0px 3px;
  }
  
  
